/*** Reset ***/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:1em;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1.5;
	margin:0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

/*** Generiek ***/
body {
	background: white;
	font-family: georgia;
	color: #333;
}

canvas {
	border:thin solid black;
}

/*** Hoofdstructuur ***/
.page {
	
	min-width: 8em;
	max-width: 40em;
	margin: 0.2em auto;
	background-color: white;
	overflow: auto;
}
.pagetitle {
	text-align: center;
	line-height:1.5;
	font-size: 2em;
	color: white;
	background: darkgreen;
	width:100%;
}

.content{
  	margin-top:1em;
	background-color:white;
	padding:1em;
	width:23em;
	height: 30em;
	margin-left:12em;
	line-height:2;
}

.contenttitle {
	text-align: center;
	padding-bottom:1em;	
}

/*** Navigatie ***/

nav a {
	text-decoration:none;
	color:white;
	background-color:darkgreen;
	font-size: 0.8em;
	display:block;
	border:1px solid lightgrey; 
	margin:0.1em;
}

nav{
	margin-top:1em;
	background:lightgrey;
	height:100%;
	width:10em;
	float: left;
}

a:hover {
	background-color: lightblue;
}

.menutitle {
	text-align: center;
	line-height:4;
}

/*** Specifiek ***/
.btn {
  border: black; /* Remove borders */
  color: white; /* Add a text color */
  background-color: darkgreen;
  padding: 0.3em 2em; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}



